@import 'partials/colors';
@import 'partials/fonts';
@import 'partials/base';
@import 'partials/sect-title';
@import 'partials/navbar';
@import 'partials/btn-download';
@import 'partials/sect-features';
@import 'partials/sect-testimonials';
@import 'partials/sect-press';

