body 
{
    font-family: $Montserrat, sans-serif;

    h2 
    {
        font-size: 3rem;
        line-height: 1.5;
    }

    h3, h2
    {
        font-family: $Montserrat;
        font-weight: 900;
    }

    p, a
    {
        color: $secondary-color;
    }

    .colored-section
    {
        color: $alt-text-color;
    }
}