#testimonials
{
    background-color: $featured-color;
    .testimonial-box
    {
        text-align: center;
        .testimonial-image
        {
            border-radius: 50%;
            width: 100px;
            margin-top: 1rem;
        }
    }

    .carousel-item
    {
        padding: 7% 15%;
    }
}