#title 
{
    font-family: $Montserrat;
    color: $alt-text-color;
    .container-fluid 
    {
        padding: 3% 15% 7%;
        background-color: $primary-color;

        h1 
        {
            font-weight: 900;
            font-size: 3.5rem;
            line-height: 1.5;
        }
    }

    .row img 
    {
        transform: rotate(25deg);
        width: 60%;
        position: absolute;
        right: 30%;
    }
}